<app-header></app-header>



<!-- banner-section start -->
<section class="banner-section inner-banner privacy-content">
    <div class="overlay">
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>About Us</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a
                                                href="https://web.tayrexmeet.com/frontend">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Our Values start -->
<section class="our-values">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6">
                    <div class="section-header text-justify">
                        <h2 class="sub-title">Who we are</h2>
                        <p class="text-4"><br>
                        <p></p>Tayrex Exchange Pty Limited (TEX) is an Australian registered Remittance Company (ACN
                        621601698) and it is regulated by the Australian Transaction Reports and Analysis Centre
                        (AUSTRAC).
                        <p> TEX is set up to provide seamless cross-border transactions on a value for money basis at no
                            hidden cost. Since the inception of TEX, our vision is to make sure all remittances feel
                            like a normal day to day transaction thereby cutting off the traditional high transfer fees
                            that banks charge. TEX also understands the usual emotions behind every remittance,
                            especially to loved ones. How our customers feel after each transaction is very important to
                            us. Therefore, we not only take the quantitative factors into consideration but also the
                            qualitative factors. It is time to make every immigrant feel as if they’re back on home
                            soil, even though they’re far away from home. For businesses also, cross-border
                            payments/settlements would seem like intra-country transactions.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/who.png" alt="" class="img-fluid shadow-lg rounded-lg">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Values end -->
<!-- Our Team start -->
<section class="our-values">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6">
                    <div class="section-header text-justify">
                        <h2 class="sub-title">Value & Aims</h2>
                        <p class="text-4"><br> TEX would continually look for ways to provide remittance services to
                            clients at the best optimum rate using the available FinTech.
                            • Provide high speed remittance as fast as possible because time is crucial to us at TEX.
                            • Leaving a smile on both the remitter and beneficiary of funds.</p>
                        <div></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/vision.png" alt="" class="img-fluid shadow-lg rounded-lg">
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Our Team end -->
<!-- Location start -->
<section class="testimonials">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Testimonials</h5>
                        <h2 class="title">What Our Customers Say</h2>
                        <p>50,119 happy clients all around the world. Don’t just take our word for it</p>
                        <img src="assets/images/yellows.jpg" class="review_img">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid wow fadeInUp">
            <div class="testimonials-carousel">
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">1 review</h5>
                        <p class="xlr">"Tayrex Exchange is trustworthy, reliable and the best out of 3 others that I
                            have used to do cross border transactions for the past years by getting money within minutes
                            to my family and loved ones without any hidden fees or service charge."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="assets/images/country/01.png" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>AMB ADENIYI EKINE</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">1 review</h5>
                        <p class="xlr">"Tayrex as a financial organisation has really helped lots of people in the
                            diapspora transfer money back home to their loved ones with so much ease. Also, they do this
                            without transactional fees which is hard to find in this sector."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="assets/images/country/02.png" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>Richard Akpa NSW</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">1 review</h5>
                        <p class="xlr">"Tayrex Exchange is trustworthy, reliable and the best out of 3 others that I
                            have used to do cross border transactions for the past years by getting money within minutes
                            to my family and loved ones without any hidden fees or service charge."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="assets/images/country/03.png" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>AMB ADENIYI EKINE</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide">
                    <div class="single-content">
                        <div class="start-area">
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                        </div>
                        <h5 class="title-area">1 review</h5>
                        <p class="xlr">"Tayrex as a financial organisation has really helped lots of people in the
                            diapspora transfer money back home to their loved ones with so much ease. Also, they do this
                            without transactional fees which is hard to find in this sector."</p>
                        <div class="profile-area d-flex align-items-center">
                            <div class="icon-area">
                                <img src="assets/images/country/04.png" alt="icon">
                            </div>
                            <div class="text-area">
                                <h5>Richard Akpa NSW</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Location end -->
<!-- Footer Area Start -->
<app-footer></app-footer>