<!-- Scroll To Top Start-->
<a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
<!-- Scroll To Top End -->

<!-- Forgot In start -->
<section class="log-reg forgot-pws reset-pws two">
    <div class="overlay pb-120">
        <div class="container">
            <div class="top-head-area">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5 col">
                        <a class="back-home text-light" routerLink="/login">
                            <img src="assets/img/left-icon.png" alt="image">
                            Back To Signin
                        </a>
                    </div>
                    <div class="col-sm-5 col">
                        <a routerLink="/register">

                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex align-items-end">
                    <div class="img-area">
                        <img src="assets/img/forgot-pwd-2-Illus.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 z-1 text-center d-flex align-items-center">
                    <div class="form-box">
                        <div class="icon-area">
                            <img src="assets/img/forgot-password-Illus.png" alt="image">
                        </div>
                        <h4>Email OTP Verification</h4>
                        <p>An OTP has been sent to XXXael6@gmail.com</p>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-input d-flex align-items-center">
                                        <input type="text" placeholder="Enter OTP">
                                    </div>
                                    <p>The page will automatically timeout after <b>90</b> seconds</p>
                                </div>

                            </div>
                            <div class="btn-area">
                                <button class="cmn-btn">Submit</button>
                            </div>
                            <div class="btn-area">
                                <button class="cmn-btn">Resend</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Forgot In end -->