<app-header></app-header>
<!-- banner-section start -->
<section class="banner-section inner-banner privacy-content">
    <div class="overlay">
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Faqs</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a
                                                href="https://web.tayrexmeet.com/frontend">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Faqs</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Our Values start -->
<section class="faqs-section">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Frequently Asked Questions</h5>
                        <h2 class="title">If you got questions we have answer</h2>
                        <p>We have a list of frequently asked questions about us</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionLeft">
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftOne" aria-expanded="false"
                                    aria-controls="collapseLeftOne">
                                    What services do Tayrex Exchange offer?
                                </button>
                            </h6>
                            <div id="collapseLeftOne" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftOne" data-bs-parent="#accordionLeft">
                                <div class="accordion-body">
                                    <p>Tayrex Exchange offers a channel to pass money from a surplus side to a deficit
                                        side, usually between a source country and an overseas corridor. Transactions
                                        could be delivered via various channels depending on the chosen corridor. This
                                        includes:
                                    <p>1. Bank Account Credit
                                    <p>2. Cash Delivery
                                    <p>3. Mobile Money</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftTwo" aria-expanded="false"
                                    aria-controls="collapseLeftTwo">
                                    How can I pay for my transfer ?
                                </button>
                            </h6>
                            <div id="collapseLeftTwo" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftTwo" data-bs-parent="#accordionLeft">
                                <div class="accordion-body">
                                    <p>1. Bank Account Transfer
                                    <p>2. Pay ID
                                    <p>3. Poli</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftThree" aria-expanded="false"
                                    aria-controls="collapseLeftThree">
                                    Where can I send money to ?
                                </button>
                            </h6>
                            <div id="collapseLeftThree" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftThree" data-bs-parent="#accordionLeft">
                                <div class="accordion-body">
                                    <p>Currently we are live in Six (6) Countries with a prospect to increase in the
                                        second quarter of 2024.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftFour" aria-expanded="false"
                                    aria-controls="collapseLeftFour">
                                    How to use Referral Code?
                                </button>
                            </h6>
                            <div id="collapseLeftFour" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftFour" data-bs-parent="#accordionLeft">
                                <div class="accordion-body">
                                    <p>Visit your dashboard and click on my referral, you will see and option for
                                        Generate code click to get referral code and share with friends and families</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingLeftFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseLeftFive" aria-expanded="false"
                                    aria-controls="collapseLeftFive">
                                    How long will it take for the money to arrive?
                                </button>
                            </h6>
                            <div id="collapseLeftFive" class="accordion-collapse collapse"
                                aria-labelledby="headingLeftFive" data-bs-parent="#accordionLeft">
                                <div class="accordion-body">
                                    <p>It takes minutes or hours depending on your circumstances like which day of the
                                        week, your bank or the bank of your recipient and the respective corridor.

                                    <p>We aim to complete all transactions within the shortest possible period, usually
                                        minutes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion" id="accordionRight">
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingRightOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseRightOne" aria-expanded="false"
                                    aria-controls="collapseRightOne">
                                    Why do I need to supply my identification ?
                                </button>
                            </h6>
                            <div id="collapseRightOne" class="accordion-collapse collapse"
                                aria-labelledby="headingRightOne" data-bs-parent="#accordionRight">
                                <div class="accordion-body">
                                    <p>We are obligated by law to know our client (KYC) and facilitate transactions for
                                        only our known clients. Therefore, in order to fulfil this requirement and
                                        maintain good stance with the regulatory body, we would need to have your ID
                                        document and address document.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingRightTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseRightTwo" aria-expanded="false"
                                    aria-controls="collapseRightTwo">
                                    How much money can I send?
                                </button>
                            </h6>
                            <div id="collapseRightTwo" class="accordion-collapse collapse"
                                aria-labelledby="headingRightTwo" data-bs-parent="#accordionRight">
                                <div class="accordion-body">
                                    <p>You can send anything from the baseline of your country, as every country is
                                        different. For instance, if you are in Australia the lowest amount you can send
                                        is $10.

                                        In terms of maximum money you can send, it depends on the single obligor limit
                                        of your source country.

                                    <p><b>NOTE:</b> There is a limit per transaction and this is always updated on our
                                        website by our compliance officer after proper risk analysis of your corridor
                                        has been carried out.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingRightThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseRightThree" aria-expanded="false"
                                    aria-controls="collapseRightThree">
                                    How is my money protected ?
                                </button>
                            </h6>
                            <div id="collapseRightThree" class="accordion-collapse collapse"
                                aria-labelledby="headingRightThree" data-bs-parent="#accordionRight">
                                <div class="accordion-body">
                                    <p>We have taken our time to carefully choose a registered bank in each source
                                        country for fund collection to ensure we could rely on the robustness of their
                                        service to ensure safe collection of funds.

                                    <p>Furthermore, our payout partners in all corridors are registered companies and
                                        would maintain probity at all times to ensure safe delivery of clients’ funds.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingRightFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseRightFour" aria-expanded="false"
                                    aria-controls="collapseRightFour">
                                    How do I reset my password?
                                </button>
                            </h6>
                            <div id="collapseRightFour" class="accordion-collapse collapse"
                                aria-labelledby="headingRightFour" data-bs-parent="#accordionRight">
                                <div class="accordion-body">
                                    <p>Click on forget password on the login page and follow the prompts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="headingRightFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseRightFive" aria-expanded="false"
                                    aria-controls="collapseRightFive">
                                    Where can I find the Tayrex Exhange App
                                </button>
                            </h6>
                            <div id="collapseRightFive" class="accordion-collapse collapse"
                                aria-labelledby="headingRightFive" data-bs-parent="#accordionRight">
                                <div class="accordion-body">
                                    <p>You can find the Tayrex Exchange app by going to playstore on your android phone.
                                        You can find theTayrex Exchange app by going to Appstore on your iphone.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Location end -->
<!-- Footer Area Start -->
<app-footer></app-footer>