<!-- Scroll To Top Start-->
<a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
<!-- Scroll To Top End -->

<!-- header-section start -->
<header class="header-section bg-light">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex header-area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="https://web.tayrexmeet.com/frontend/">
                        <img src="assets/images/logo.png" class="logo" alt="logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " routerLink="" class="about-us">About Us</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " routerLink="" class="contact">Contact Us</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " routerLink="" class="faqs">Faqs</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " routerLink="/how-it-works" class="how-works">How it works</a>

                            </li>
                        </ul>
                        <div class="right-area header-action d-flex align-items-center max-un">
                            <a href="https://web.tayrexmeet.com/login.html" class="login">Login</a>
                            <a href="https://web.tayrexmeet.com/register.html" class="cmn-btn">Sign Up
                                <i class="icon-d-right-arrow-2"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header-section end -->

<!-- banner-section start -->
<section class="banner-section inner-banner privacy-content">
    <div class="overlay">
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Privacy Policy</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item text-light"><a routerLink="/login">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- Privacy Content In start -->
<div>
    <section class="privacy-content">
        <div class="overlay pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="top-wrapper">
                            <h4>We're always looking for new ways to provide privacy for our customers.</h4>
                            <p>This Privacy Policy applies to the Site, www.tayrexchange.com powered by Tayrex Exchange
                                Pty Limited , (“TEx”) ‘Site’, by definition for this agreement includes our Service
                                application(s) available via internet/web access, mobile and smart phones, tablets, or
                                any other technology that allows you to access the Service, which exists now or in the
                                future. This privacy policy describes how Tayrex Exchange Pty Limited collects and uses
                                the personal information you provide on our web site: www.tayrexchange.com.au. It also
                                describes the choices available to you regarding our use of your personal information
                                and how you can access and update this information.

                                We are committed to protecting our customers’ privacy and security.

                            <p>This Privacy Statement explains what personal information we collect about you, with whom
                                we share it, and how you [The user of the Service] can direct us not to share certain
                                information with certain parties. “Personal Information” refers to information such as
                                name and email that can be used to identify an individual. You should read this Privacy
                                Policy in its entirety. Certain sections may apply differently to residents of different
                                jurisdictions.

                            </p>


                            <p>By using our services, you are accepting the terms of this Privacy Notice. We may update
                                this privacy statement to reflect changes to our information practices. If we make any
                                material changes we will notify you by email (sent to the e-mail address specified in
                                your account) or by means of a notice on this Site prior to the change becoming
                                effective. We encourage you to periodically review this page for the latest information
                                on our privacy practices.</p>
                            <div class="safe-data">
                                <h4>WHY DO WE COLLECT INFORMATION AND DATA?</h4>
                                <p>We collect, process and retain personal information from you and any devices you may
                                    use when you use our Services, or provide to us on a web form, or when you update
                                    your information or otherwise correspond with us regarding our Services.
                                    Additionally, we may collect personal information from third parties. We collect
                                    information for the following purposes:</p>
                                <ul>
                                    <li>To process your transactions and contact you, as necessary</li>
                                    <li>To verify your identity</li>
                                    <li>To collect payment for your use of the Service</li>
                                    <li>To troubleshoot problems with the Service</li>

                                    <li> To detect and prevent fraud and other illegal uses of the Service</li>
                                    <li> To enhance and simplify the user experience</li>
                                    <li>To send you marketing notices, service updates, and promotional offers</li>
                                </ul>
                            </div>
                            <div class="safe-data">
                                <h4>HOW DO WE COLLECT INFORMATION AND DATA?</h4>
                                <p>We collect personal information:</p>
                                <ul>
                                    <li>Directly provided by you when you use our Services;</li>
                                    <li>Automatically through your use of our Services;</li>
                                    <li>From using cookies, web beacons, and similar technologies; and</li>
                                    <li>From other third party sources.</li>
                                </ul>
                            </div>

                            <div class="cookies">
                                <h4>WHAT KINDS OF PERSONAL INFORMATION DO WE COLLECT?</h4>
                                <p>The information that we collect directly from you includes:

                                    Information that you provide us in the course of using the Service, such as your
                                    name, address, e-mail address, and telephone number. We may also collect certain
                                    sensitive information from you including your bank account number, credit card
                                    number, date of birth and social security number, and other identification documents
                                    we may request to validate your identity for the safety and security of establishing
                                    your Account with the Service.

                                <p>To facilitate our Service, we request certain third party personal information from
                                    you such as your recipient’s full name, physical address, email address, and phone
                                    number. We may also collect from you the recipient’s sensitive financial information
                                    including their name, bank account and routing number. If you give us personal
                                    information about someone else, you must do so only on their explicit and prior
                                    consent. You have to inform them how we collect, use, disclose and retain their
                                    personal information according to our Privacy Notice.

                                <p>Information about your usage of the Service, including your transaction history, and
                                    how you choose to pay/fund your remittance, and to whom you use the Service to send
                                    or receive money, along with the recipient’s collection method.

                                    You decide how much information to share with us in most cases, but not sharing
                                    required information may limit your ability to engage in certain activities, such as
                                    payment information required to complete a transaction.</p>

                                <div class="cookies">
                                    <h4>INFORMATION COLLECTED AUTOMATICALLY THROUGH YOUR USE OF THE SERVICE</h4>
                                    <p>When you use or interact with our Site and Services, we receive and store
                                        information generated by your activity, like usage data and other information
                                        automatically collected from your browser or mobile device. The Information that
                                        we automatically obtain from you includes:

                                        Information about the hardware and software you use when accessing the Service,

                                        Your IP address, phone number and geolocation data obtained from your mobile
                                        device,

                                        The pages you access on this website, and other websites that you visit prior to
                                        accessing the Service.</p>

                                    <div class="cookies">
                                        <h4>OTHER SOURCES</h4>
                                        <p>We may supplement the information we collect with personal information from
                                            third parties. For example, we may collect and use demographic information
                                            that is publicly available, additional contact information, and information
                                            obtained by identity verification services and credit reporting agencies, as
                                            allowed by applicable national laws.

                                            Our Web site includes Social Media Features, such as the Facebook, LinkedIn
                                            and Twitter buttons and Widgets or interactive mini-programs that run on our
                                            site. These Features may:

                                            Collect your IP address, which page you are/were visiting on our site; and

                                            Set a cookie to enable the Feature to function properly. Social Media
                                            Features and Widgets are either hosted by a third party or hosted directly
                                            on our Site.

                                            Such social media sites may give us automatically access to certain personal
                                            information retained by them about you (e.g. content viewed by you, content
                                            liked by you, or may have clicked on). Your interactions with these Features
                                            are governed by the privacy policy of the company providing it.</p>

                                        <div class="cookies">
                                            <h4>INFORMATION COLLECTED USING COOKIES, WEB BEACONS, AND SIMILAR
                                                TECHNOLOGIES</h4>
                                            <p>COOKIES, beacons, tags and scripts are used by TEx and our partners,
                                                affiliates, or analytics or service providers. These technologies are
                                                used:

                                                To enhance and simplify the user experience on our home page and
                                                throughout our site, to remember users’ settings (e.g. language
                                                preference, preferred country of remittance, and for authentication);
                                                and

                                            <p>To analyze trends, administering the site, tracking users’ movements
                                                around the site and to gather demographic information about our user
                                                base as a whole. We may receive reports based on the use of these
                                                technologies by these companies on an individual as well as aggregated
                                                basis.

                                            <p>Users can control the use of cookies at the individual browser level. If
                                                you reject cookies, you may still use our site, but your ability to use
                                                some features or areas of our site may be limited.

                                            <p>The information collected may include your IP address; browser type and
                                                version; preferred language; geographic location using IP address or the
                                                GPS, wireless, or Bluetooth technology on your device; operating system
                                                and computer platform; the full Uniform Resource Locator (URL)
                                                clickstream to, though, and from our Site, including date and time; and
                                                areas of our Site that you visited. We also may log the length of time
                                                of your visit and the number of times you visit and purchase or use the
                                                Services.

                                            <p>We may assign you one or more unique identifiers to help keep track of
                                                your future visits.</p>

                                            <div class="cookies">
                                                <h4>WHEN MAY WE SHARE OR DISCLOSE YOUR PERSONAL INFORMATION?</h4>
                                                <p>We do not sell, share or rent the information we collect to third
                                                    parties for their promotional purposes unless we receive your
                                                    permission to do so. Nevertheless, we may share information about
                                                    you (including non-public, non-personally identifiable information)
                                                    with:

                                                <p>Third-party service providers under contract with TEx that help us
                                                    with our business operations, such as transaction processing, fraud
                                                    prevention, collections, email communications, live chat and
                                                    marketing. These service providers are authorized to use your
                                                    personal information only as necessary to provide these services to
                                                    us.

                                                <p>In the event of the sale, acquisition or merger of some or all of our
                                                    assets, your personal information might be a part of the transferred
                                                    assets. We shall notify you in the event of such an occurrence by
                                                    placing a notice on our website.

                                                <p>Law enforcement and government officials, but only in connection with
                                                    a formal request, subpoena, court order, or similar legal procedure,
                                                    as well as circumstances where we believe in good faith that
                                                    disclosure is necessary to comply with the law, report suspected
                                                    illegal activity, or investigate violations of our User Agreement.
                                                </p>

                                                <div class="cookies">
                                                    <h4>USES OF PERSONAL INFORMATION (OTHER THAN PROVIDING PAYMENT
                                                        SERVICES)</h4>
                                                    <p>As is true of most web sites, we gather certain information
                                                        automatically and store it in log files. This information may
                                                        include internet protocol (IP) addresses, browser type, internet
                                                        service provider (ISP), referring/exit pages, operating system,
                                                        date/time stamp, and/or clickstream data. We may combine this
                                                        automatically collected log information with other information
                                                        we collect about you. We do this to improve services we offer
                                                        you, verify security, and to improve marketing, analytics, or
                                                        site functionality</p>

                                                    <div class="cookies">
                                                        <h4>PERSONALIZE OUR ADVERTISING AND MARKETING COMMUNICATIONS
                                                        </h4>
                                                        <p>The Site may contain links to other web sites.Tayrex Exchange
                                                            Pty Limited is not responsible for the privacy practices or
                                                            the content of these other web sites. We encourage you to
                                                            familiarize yourself with the privacy practices of these
                                                            other sites prior to submitting your personal information to
                                                            them.

                                                        <p>We also may choose to partner with third party ad networks to
                                                            either display advertising on our Web site or to manage our
                                                            advertising on other sites. Our ad network partners may use
                                                            cookies and Web beacons to collect non-personally
                                                            identifiable information about your activities on this and
                                                            other Web sites to provide you targeted advertising based
                                                            upon your interests. If you wish to not have this
                                                            information used for the purpose of serving you targeted
                                                            ads, you may opt-out by clicking HERE. Please note this does
                                                            not opt you out of being served advertising. You will
                                                            continue to receive generic ads.

                                                        <p>We may choose to use Google AdSense to publish ads for and on
                                                            this site. When you view or click on an ad, a cookie will be
                                                            set to help better provide advertisements that may be of
                                                            interest to you on this and other Web sites. You may opt-out
                                                            of the use of this cookie by visiting Google’s Advertising
                                                            and Privacy page: HTTP://WWW.GOOGLE.COM/PRIVACY_ADS.HTML.

                                                        </p>

                                                        <div class="cookies">
                                                            <h4>TESTIMONIALS AND REFERRALS</h4>
                                                            <p>We display personal testimonials of satisfied customers
                                                                on our site in addition to other endorsements. With your
                                                                consent we may post your testimonial along with your
                                                                name. If you wish to update or delete your testimonial,
                                                                you can contact us via details mentioned in the CONTACT
                                                                US section.

                                                            <p>If you choose to use our referral service to tell a
                                                                friend about our site, we will ask you for your friend’s
                                                                name, email address and phone number. We will
                                                                automatically send your friend a one-time email inviting
                                                                him or her to visit the site. TEx stores this
                                                                information for the sole purpose of sending this
                                                                one-time email, and for tracking the success of our
                                                                referral program.</p>
                                                            <div class="cookies">
                                                                <h4>WITHDRAWAL OF CONSENT</h4>
                                                                <p>Federal and state laws allow you to restrict the
                                                                    sharing of your personal information in certain
                                                                    instances. However, these laws also state that you
                                                                    cannot restrict other types of sharing. Because we
                                                                    have chosen to refrain from certain types of data
                                                                    sharing, the only type of sharing of your personal
                                                                    information that you may restrict is as follows:

                                                                <p>If, after giving us your permission to share your
                                                                    personal information with third parties, with whom
                                                                    we market our jointly offered products, you later
                                                                    decide that you no longer want us to share such
                                                                    information, you may CONTACT US by email or by mail

                                                                <p>You may also opt-out from promotional emails to you
                                                                    by accessing your E-mail Preferences & selecting the
                                                                    “Unsubscribe” function present in each email we send
                                                                    out.</p>
                                                                <div class="cookies">
                                                                    <h4>ACCESS TO YOUR PERSONAL INFORMATION AND
                                                                        RETENTION</h4>
                                                                    <p>We will honor any statutory right you may have to
                                                                        access, modify or erase your personal
                                                                        information. Where you have a statutory right
                                                                        you to access, modify or erase your personal
                                                                        information, we can still withhold that access
                                                                        or decline to modify or erase your personal
                                                                        information in some cases and in accordance with
                                                                        applicable national laws, but will give you
                                                                        reasons if we do so.

                                                                    <p>You can access, modify or update or delete your
                                                                        personal information submitted on our Site by
                                                                        logging into your account and changing your
                                                                        preferences. You may also contact us using the
                                                                        CONTACT US details below.

                                                                    <p>We will retain your information for as long as
                                                                        your account is active or as needed to provide
                                                                        you services. We will retain and use your
                                                                        information as necessary to comply with our
                                                                        legal obligations, resolve disputes, and enforce
                                                                        our agreements.</p>
                                                                    <div class="cookies">
                                                                        <h4>WHAT SECURITY MEASURES DO WE HAVE?</h4>
                                                                        <p>We protect your information using
                                                                            administrative, organizational, physical and
                                                                            technical safeguards, including firewalls
                                                                            and data encryption, to reduce the risk of
                                                                            loss, misuse, unauthorized access,
                                                                            disclosure and alteration. Our security
                                                                            controls are designed to maintain an
                                                                            appropriate level of data confidentiality,
                                                                            integrity, and availability. We regularly
                                                                            test our website, data centers, systems, and
                                                                            other assets for security vulnerabilities
                                                                            for the continued protection of your
                                                                            personal data.

                                                                        <p>All TEx employees pass financial and criminal
                                                                            background checks as a condition of
                                                                            employment.</p>
                                                                        <div class="cookies">
                                                                            <h4>OTHER IMPORTANT INFORMATION</h4>
                                                                            <p>Tayrex Exchange Pty Limited is
                                                                                headquartered in Australia, and we have
                                                                                operations, entities, and service
                                                                                providers in Australia and throughout
                                                                                the world, including in Nigeria. As
                                                                                such, we and our service providers may
                                                                                transfer your personal information to,
                                                                                store or access it in, jurisdictions
                                                                                that may not provide equivalent levels
                                                                                of data protection as your home
                                                                                jurisdiction. We will take steps to
                                                                                ensure that your personal information
                                                                                receives an adequate level of protection
                                                                                in the jurisdictions in which we process
                                                                                it.

                                                                            <p>If you are located in the European
                                                                                Economic Area, we provide adequate
                                                                                protection for the transfer of Personal
                                                                                Information to countries outside of the
                                                                                EEA through a series of inter-company
                                                                                agreements based on the Standard
                                                                                Contractual Clauses authorized under the
                                                                                EU Data Protection Directive 95/46/EC.
                                                                            </p>

                                                                            <div class="cookies">
                                                                                <h4>CHILDREN’S PRIVACY</h4>
                                                                                <p>TEx does not offer services to minors
                                                                                    and does not knowingly collect
                                                                                    Personal Information from children
                                                                                    under the age of 13. If you believe
                                                                                    we have collected information from
                                                                                    your child in error or have
                                                                                    questions or concerns about our
                                                                                    practices relating to children,
                                                                                    please notify us using the CONTACT
                                                                                    US details below and we will
                                                                                    promptly respond.</p>

                                                                                <div class="cookies">
                                                                                    <h4>CONTACT US</h4>
                                                                                    <p>If you have questions or concerns
                                                                                        regarding this Privacy Notice,
                                                                                        or would like to update
                                                                                        information we have about you or
                                                                                        your preferences, please contact
                                                                                        us by email at
                                                                                        info@tayrexchange.com.au or by
                                                                                        one of the following additional
                                                                                        methods:

                                                                                    <p>In the Australia by calling us at
                                                                                        +61426097194 or by writing to us
                                                                                        at:

                                                                                    <p>Tayrex Exchange Pty Limited</p>
                                                                                    <div
                                                                                        class="img-area text-center text-md-start">
                                                                                        <img src="assets/img/privacy-cookies.png"
                                                                                            alt="image">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Privacy Content In end -->

                                                            <!-- Footer Area Start -->
                                                            <footer class="footer-section">
                                                                <div class="container">
                                                                    <div class="row justify-content-center">
                                                                        <div class="col-lg-10">
                                                                            <div class="newsletter">
                                                                                <div
                                                                                    class="section-area mb-30 dark-sec text-center">
                                                                                    <h3 class="title">Subscribe to Our
                                                                                        Rates Alert</h3>
                                                                                </div>
                                                                                <form action="#">
                                                                                    <div
                                                                                        class="form-group d-flex align-items-center">
                                                                                        <input type="text"
                                                                                            placeholder="Your Email Address">
                                                                                        <button><img
                                                                                                src="assets/images/icon/arrow-right-2.png"
                                                                                                alt="icon"></button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="footer-area pt-120">
                                                                        <div class="footer-top">
                                                                            <div class="row align-items-center">
                                                                                <div
                                                                                    class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                                                                                    <div class="menu-item">
                                                                                        <ul
                                                                                            class="footer-link d-flex align-items-center">
                                                                                            <li><a href="about-us.html">About
                                                                                                    Us</a></li>
                                                                                            <li><a
                                                                                                    href="contact.html">Contact</a>
                                                                                            </li>
                                                                                            <li><a
                                                                                                    href="faq.html">Faqs</a>
                                                                                            </li>
                                                                                            <li><a
                                                                                                    href="how-it-works.html">How
                                                                                                    it works</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div
                                                                                        class="social-link d-flex justify-content-sm-end justify-content-center align-items-center">
                                                                                        <a
                                                                                            href="https://www.facebook.com/Tayrexchange?mibextid=ZbWKwL"><img
                                                                                                src="assets/images/icon/facebook.png"
                                                                                                alt="icon"></a>
                                                                                        <a href="javascript:void(0)"><img
                                                                                                src="assets/images/icon/linkedin.png"
                                                                                                alt="icon"></a>
                                                                                        <a
                                                                                            href="https://instagram.com/tayrex_exchange?igshid=ZGUzMzM3NWJiOQ=="><img
                                                                                                src="assets/images/icon/instagram.png"
                                                                                                alt="icon"></a>
                                                                                        <a
                                                                                            href="https://twitter.com/tayrexexchange?t=ChWMkWGfDY3bxfYqE462xQ&s=09"><img
                                                                                                src="assets/images/icon/twitter.png"
                                                                                                alt="icon"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="footer-bottom">
                                                                            <div
                                                                                class="row justify-content-between align-items-center">
                                                                                <div
                                                                                    class="col-md-6 col-sm-8 d-flex justify-content-center justify-content-sm-start order-sm-0 order-1">
                                                                                    <div
                                                                                        class="copyright text-center text-sm-start">
                                                                                        <p> Copyright © 2023 <a
                                                                                                href="index.html">Tayrex
                                                                                                Exchange.</a> All Rights
                                                                                            Reserved.</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6 col-sm-4">
                                                                                    <div class="menu-item">
                                                                                        <ul
                                                                                            class="footer-link d-flex justify-content-sm-end justify-content-center align-items-center">
                                                                                            <li><a
                                                                                                    href="privacy-policy.html">Terms</a>
                                                                                            </li>
                                                                                            <li><a
                                                                                                    href="privacy-policy.html">Privacy</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </footer>