<header class="header-section">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex header-area">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="https://web.tayrexmeet.com/frontend/">
                        <img src="assets/images/logo.png" class="logo" alt="logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="about-us.php" class="about-us">About Us</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="contact-us.php" class="contact">Contact Us</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="faq.php" class="faqs">Faqs</a>

                            </li>
                            <li class="nav-item dropdown main-navbar">
                                <a class="nav-link " href="how-it-works.html" class="how-works">How it works</a>

                            </li>
                        </ul>
                        <div class="right-area header-action d-flex align-items-center max-un">
                            <a href="https://web.tayrexmeet.com/login.html" class="login">Login</a>
                            <a href="https://web.tayrexmeet.com/register.html" class="cmn-btn">Sign Up
                                <i class="icon-d-right-arrow-2"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header-section end -->

<!-- banner-section start -->
<section class="banner-section inner-banner privacy-content">
    <div class="overlay">
        <div class="banner-content d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Terms Conditions</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Terms Conditions</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- Privacy Content In start -->
<section class="privacy-content terms">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="top-wrapper">
                        <h4>TERMS AND CONDITIONS</h4>
                        <p>This website www.tayrexchange.com.au is a leader in global money transfer services. The
                            following agreement ("Agreement") details how you may use this Site and the services
                            ("Services'') made available through it. ‘Site’, by definition for this agreement includes
                            our Service application(s) available via internet/web access, mobile and smartphones,
                            tablets, or any other technology that allows you to access the Service, which exists now or
                            in the future.</p>

                        <p>As used throughout this User Agreement, the terms "TAYREXCHANGE", "we", "us", and "our" refer
                            to TAYREX EXCHANGE (TEx), an Australian corporation, together with its employees,
                            consultants, directors, successors, affiliates, service providers, and assignees. The terms
                            "you" and “your" refer to users of the Service, whether in their capacity as Senders,
                            Recipients, or visitors to our websites.</p>

                        <p>By your use of this Site and our services you agree with and accept the following terms and
                            conditions, otherwise, please don’t use the Site.</p>

                        <h4>INTELLECTUAL PROPERTY</h4>
                        This Site, including all text, graphics, logos and image, as well as all other TEx copyrights,
                        trademarks, service marks, products and service names are the exclusive property of TEx, and may
                        not be used for any purpose without express written permission from TEx.

                        <h4>DISCLAIMERS</h4>
                        <p>THIS SITE AND THE SERVICES MADE AVAILABLE THROUGH THIS SITE, ARE PROVIDED WITHOUT ANY
                            WARRANTY OF ANY KIND, OR CONDITION, EXPRESSED, IMPLIED OR STATUTORY. TEx, EMPLOYEES AND
                            CORRESPONDENTS SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
                            A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>

                        <p>TEx RESERVES THE RIGHT TO REVIEW ALL TRANSACTIONS (FOR FRAUD, COMPLIANCE, ANTI-MONEY
                            LAUNDERING, TRANSACTION SECURITY), AND MAY CHOOSE TO HOLD ANY TRANSACTION UNTIL PAYMENT IS
                            RECEIVED FROM THE FUNDING SOURCE</p>

                        <p>TEx will use its best efforts to ensure the timely processing of transactions, refunds or
                            credits, but makes no claims or warranties regarding the time needed to process a
                            transaction, refund or credit to completion. Refunds or credits to the payers funding source
                            may take between 5-7 business days from the time the refund or credit is issued. To a great
                            degree, the timing and delivery of Services depend on factors outside of our control. For
                            security of your account, prior to accepting and releasing funds for a transaction, TEx
                            reserves the right to validate the identity beneficiary and account holder; the funding
                            source and funds availability from the funding source of the sender; and to validate the
                            location or receipt type (bank account, credit/debit card, pick-up location, agent location,
                            etc.) of the recipient. In certain jurisdictions disclaimers of implied warranties are not
                            permitted, therefore, the foregoing disclaimer may not apply to you. This warranty gives you
                            specific legal rights and you may also have other rights that vary from state to state,
                            depending on which state you live in.</p>

                        <p>TEx assumes no responsibility and shall not be liable for any damages or losses of any kind
                            caused by the use of this site or services made available through it. This disclaimer
                            includes damages caused by computer viruses, worms, bots or any other computer software
                            problems that may infect or damage your computer software, hardware, memory or any other
                            property of yours as a result of your accessing this Site or using the Services.</p>

                        <h4>INDEMNITY</h4>
                        <p>You agree to indemnify, defend and hold TEx, its affiliates, officers, directors, owners,
                            employees, contracted service providers, representatives, correspondents and agents harmless
                            from any claim or demand made by any third party, including any and all losses, damages,
                            liabilities, including attorneys' fees, costs and expenses of any kind relating thereto,
                            arising from your use of the Services made available through this Site, your violation of
                            these terms and conditions, or your violation of law or intentional wrongdoing. You also
                            agree to indemnify TEx (et al above) for any delay in the acceptance, processing, and
                            completion of transaction, refund, or credit until TEx’s proprietary verification and
                            validation processes are complete.</p>

                        <h4>LIMITATION OF LIABILITY</h4>
                        <p>IN NO EVENT SHALL TEx, ITS AFFILIATES, OFFICERS, DIRECTORS, OWNERS, EMPLOYEES,
                            REPRESENTATIVES, CORRESPONDENTS AND AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
                            SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES BEYOND THE SUM OF $500.00 (IN ADDITION TO
                            REFUNDING THE TRANSACTION AMOUNT AND SERVICE FEES), INCLUDING BUT NOT LIMITED TO, DAMAGES
                            FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF TEx HAS BEEN
                            ADVISED IN ADVANCE OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM NEGLIGENCE ON THE PART
                            OF TEx, ITS AGENTS OR DISBURSEMENT PARTNERS, OR THEIR RESPECTIVE SUBSIDIARIES, OFFICERS,
                            AGENTS, PARTNERS, OR EMPLOYEES</p>

                        <h4>DISPUTE RESOLUTION AND GOVERNING LAW</h4>
                        <p>Any controversy, dispute, or claim arising out of or in relation to your use of this Site or
                            the Services made available through it shall be governed by and construed in accordance with
                            the laws of AUSTRALIA.</p>

                        <h4>Improperly Filed Litigation</h4>
                        <p>All claims brought against TEx must be resolved in accordance with these terms and
                            conditions. All claims inconsistent with these terms and conditions shall be considered as
                            improperly filed, and in breach of these terms and conditions. In such an event, TEx shall
                            be entitled to recover its reasonable attorneys' fees and costs (including in-house
                            attorneys and paralegals), provided that TEx has served you with written notification of
                            said improperly filed claim, and said claim has not been withdrawn.</p>

                        <h4>Waiver of Class Action Rights</h4>
                        <p>By entering into these terms, you hereby irrevocably waive any right you may have to join
                            claims with those of others in the form of a class action. Any claims arising out of,
                            relating to, or connected with these terms and the Services must be asserted in the party's
                            individual capacity only.</p>

                        <h4>ADDITIONAL TERMS</h4>
                        <b>Communications</b>
                        <p>You agree that the following categories of information may be provided to you and received by
                            you via this Site: (i) this Agreement and any amendments, modifications or supplements to
                            it; (ii) any initial, periodic or other disclosures or notices provided in connection with
                            the Services made available through this Site, including without limitation those required
                            by federal or state law; (iii) any customer service communications, including without
                            limitation communications with respect to claims of error or unauthorized use of the
                            Services; (iv) any other communication related to the Services made available through this
                            Site or TEx.</p>

                        <h4>Entire Agreement</h4>
                        <p>This Agreement, together with all other provisions incorporated herein by reference,
                            represents the entire agreement and understanding between you and TEx with respect to the
                            use of this Site and the Services made available through it. This Agreement replaces and
                            supersedes any prior agreements between you and TEx with respect to the use of this Site and
                            the Services made available through it.</p>

                        <h4>No Waiver</h4>
                        <p>Failure by TEx to exercise or enforce any right or provision of this Agreement shall not
                            constitute a waiver of such right or provision. If any provision of this Agreement is found
                            to be invalid, the parties agree to endeavor to give appropriately valid effect to the
                            intention of this Agreement as reflected in the provision, and the other provisions of the
                            User Agreement shall remain in full force and effect.</p>

                        <h4>Modification</h4>
                        <p>TEx may modify and change this Agreement without notice, except as may be required by law.
                            The most current version of this Agreement may be viewed at any time by visiting this Site.
                            If you do not agree with any changes or modification, you may terminate your account on the
                            Site and your use of the Services. If you use the Services after the effective date of an
                            amendment or modification, you shall be deemed to have accepted that amendment or
                            modification.</p>

                        <h4>Language</h4>
                        <p>In the event that there may be any inconsistency between the English and or any language text
                            on this Site, including this Agreement, the English text shall always prevail.</p>

                        <h4>FRAUDS AND SCAMS</h4>
                        <p>TEx considers your security to be of the utmost importance. We dedicate substantial resources
                            and implement state-of-the-art measures to ensure that your information is secure.
                            Nevertheless, we strongly urge you to be wary of sending money to any person whom you do not
                            know well. In particular, you should be cautious of deals or offers that seem too good to be
                            true. To learn more about potential frauds and scams, visit the following website:
                            fakechecks.org. If you think you have been or might be a victim of fraud, please contact us
                            immediately by telephone at +61426 097 194 If you are aware of anyone using the Services
                            inappropriately, please email us at Info@tayrexchange.com.au If you receive any fake
                            (phishing) emails, purporting to be from TEx, please forward them to us at
                            Info@tayrexchange.com.au</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
<!-- Create Account In end -->

<!-- Footer Area Start -->
<footer class="footer-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="newsletter">
                    <div class="section-area mb-30 dark-sec text-center">
                        <h3 class="title">Subscribe to Our Rates Alert</h3>
                    </div>
                    <form action="#">
                        <div class="form-group d-flex align-items-center">
                            <input type="text" placeholder="Your Email Address">
                            <button><img src="assets/images/icon/arrow-right-2.png" alt="icon"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-area pt-120">
            <div class="footer-top">
                <div class="row align-items-center">
                    <div class="col-sm-6 d-flex justify-content-center justify-content-sm-start">
                        <div class="menu-item">
                            <ul class="footer-link d-flex align-items-center">
                                <li><a href="about-us.php">About Us</a></li>
                                <li><a href="contact.php">Contact</a></li>
                                <li><a href="faq.php">Faqs</a></li>
                                <li><a href="how-it-works.html">How it works</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div
                            class="social-link d-flex justify-content-sm-end justify-content-center align-items-center">
                            <a href="https://www.facebook.com/Tayrexchange?mibextid=ZbWKwL"><img
                                    src="assets/images/icon/facebook.png" alt="icon"></a>
                            <a href="javascript:void(0)"><img src="assets/images/icon/linkedin.png" alt="icon"></a>
                            <a href="https://instagram.com/tayrex_exchange?igshid=ZGUzMzM3NWJiOQ=="><img
                                    src="assets/images/icon/instagram.png" alt="icon"></a>
                            <a href="https://twitter.com/tayrexexchange?t=ChWMkWGfDY3bxfYqE462xQ&s=09"><img
                                    src="assets/images/icon/twitter.png" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row justify-content-between align-items-center">
                    <div
                        class="col-md-6 col-sm-8 d-flex justify-content-center justify-content-sm-start order-sm-0 order-1">
                        <div class="copyright text-center text-sm-start">
                            <p> Copyright © 2023 <a href="index.html">Tayrex Exchange.</a> All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <div class="menu-item">
                            <ul
                                class="footer-link d-flex justify-content-sm-end justify-content-center align-items-center">
                                <li><a href="terms-conditions.html">Terms</a></li>
                                <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->